@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

 .navbar {
    font-family: 'Outfit';
    margin: 5px;
    display: flex;
    padding: 12px 20px;
 }

.nav-links {
    display: flex;
    gap: 25px;
    position: relative;
    left: 750px;
    list-style: none;
}

.user {
    display: flex;
    gap: 25px;
}

.user button {
    position: relative;
    left: 1250px;
    font-family: 'Outfit';
    font-weight: 500;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    gap: 25px;
    border-style: dashed;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    color: black;
    transition: all 0.6s ease-in-out;
}

.user button:hover {
    opacity: 5;
    box-shadow: 0 0 5px rgba(0, 210, 190, 0.7);
    transform: scale(1.06);
    border: 2px solid grey;
}